{{extend "layout.html"}}

<section id="support" data-role="page">
    <div class="row-fluid " >
        <div class="span8">
            <p class="lead">
                How can you support Tharuni:
            </p>
            <ul>
                <li>
                    Help the rural girls by providing them Notebooks, School Bags, Shoes,
                    Stationery, Basic cosmetics (<strong>Rs.1000/-</strong> per each girl per annum)
                </li>
                <li>
                    Help the girls reach their schools or colleges by giving travel cost
                    (<strong>Rs. 300/-</strong> per month per each girl)
                </li>
                <li>
                    Help a child marriage victim to continue her education or impart skill
                    training for self-reliance (<strong>Rs. 1500/-</strong> per each girl [one-time cost] for
                    training in Beautician, Chalk making, Candle and Surf making)
                </li>
                <li>
                    Help a Girl continue her education through Open School / College
                </li>
                <li>
                    Help run Tharuni School Van [donated by SBI] for the orphan girls to
                    commute to and fro to school and BalaSadanam (Children Home for Girls)
                    (<strong>Rs. 8,000/-</strong> per month for diesel and driver expenses)
                </li>
                <li>
                    Help a rescued trafficked girl get a small job though skill training.
                    (<strong>Rs.1500/-</strong> per girl for training in Tailoring/ Soft toy making/ Saree
                    painting)
                </li>
                <li>
                    Help a girl child labor to get mainstreamed into regular schools by joining
                    the child in a hostel &give her basic cosmetics, or clothes. (<strong>Rs.1000/-</strong> per
                    child one-time cost)
                </li>
                <li>
                    Give your valuable time and energy in volunteering to spread message not
                    to kill a girl child & help stopping infanticide & foeticide.
                </li>
            </ul>
            <p>
                All donations are eligible for Tax Exemption under Section 80G
                of the Income Tax Act, 1961.
            </p>
            <p>
                Cheques & Drafts may please be made in favour of ‘Tharuni’
                payable at Hyderabad / Warangal.
            </p>

            <br>
            <p class="lead">
                You can donate through any one of our bank accounts
            </p>

            <address>
                Andhra Bank
                <br/>
                FCRA Account: a/c. No. 8494,
                <br/>
                Raj Bhavan Road Branch
                <br/>
                Chintal Basti, Hyderabad
                <br/>
                Andhra Pradesh, India
                <br/>
            </address>
            <address>
                Andhra Bank
                <br/>
                General Account: a/c. No. 05481001018797,
                <br/>
                Santoshnagar Branch
                <br/>
                Opp. Bhoji Reddy College of Engineering, Hyderabad
                <br/>
                Andhra Pradesh, India
                <br/>
            </address>
            <address>
                Andhra Bank
                <br/>
                General Account: a/c. No.088110011110337,
                <br/>
                Nakkalagutta Branch
                <br/>
                Hanamkonda, Dist. Warangal,
                <br/>
                Andhra Pradesh, India
                <br/>

            </address>

        </div>
        <div class="span4" style="text-align: center;">
            <div class="">
                <div id="ammadoGivingWidget" class="btn" style="margin: auto;border: 5px solid dimGrey;"></div>
                <script type="text/javascript">
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = 'https://www.ammado.com/nonprofit/128497/givingwidget/embed.js?renderTo=ammadoGivingWidget';
                    var f = document.getElementsByTagName('script')[0];
                    f.parentNode.insertBefore(s, f);
                </script>

            </div>
            <br/>
            <div class="">
                <div id="fb">
                    <div id="fb-root"></div>
                    <script type="text/JavaScript">
                        ( function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id))
                                    return;
                                js = d.createElement(s);
                                js.id = id;
                                js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <div class="fb-like-box" data-href="https://www.facebook.com/Tharuni.org" data-width="200" data-show-faces="false" data-border-color="Navy" data-stream="false" data-header="false"></div>
                </div>
            </div>
            <br/>
            <div class="">

                <a href="https://twitter.com/Tharuni_org" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @Tharuni_org</a>
                <script>
                    ! function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");
                </script>
            </div>
            <br/>
            <div >
                <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                <g:plus href="https://plus.google.com/106252641670484238537"></g:plus>
            </div>

        </div>
    </div>

</section>